[ req ]
default_bits                    = 4096
distinguished_name              = req_distinguished_name
req_extensions                  = req_ext
prompt                          = no
[ req_distinguished_name ]
countryName                     = DE
stateOrProvinceName             = NRW
localityName                    = Cologne
{% if org == "RZ" %}
organizationName                = HAEVG Hausaerztliche Vertragsgemeinschaft AG
{% else %}
organizationName                = HaeVG Rechenzentrum GmbH
{% endif %}
commonName                      = {{ sans|first }}
[ req_ext ]
subjectAltName                  = @alt_names
[alt_names]

{% for san in sans %}
DNS.{{ loop.index }}            = {{ san }}
{% endfor %}